<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("navbar") %>
    <h1>Hello</h1>
    <p>Here is the message: <%= message %></p>
    <ul>
        <% users.forEach(user => { %>
            <li><%= user %></li>

        <% }) 
        %>
    </ul>
</body>
</html>