<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form action="/new" method="POST">
  <div style="display: block; margin: 1em;">
    <input type="text" name="messageUser" placeholder="Your Name" required>
    <input type="text" name="messageText" placeholder="Your Message" required>
    <button type="submit">Submit</button>
  </div>
</form>
  <a href="/">â† Back to all messages</a>

</body>
</html>